.eggs/
.ipynb_checkpoints/
.settings/
build/
dist/
examples/Languages/C/src/boost_*
Rhodium.egg-info/
.project
.pydevproject
*_results.csv
*.cache
*.cache.bak
*.cache.dat
*.cache.dir
*.dll
*.o
*.pyc
*.so
.Rhistory
.DS_Store
